@font-face {
    font-family: ProximaNovaRegular;
    src: url(ProximaNova-Reg-webfont.eot);
    src: url(ProximaNova-Reg-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Reg-webfont.woff) format('woff'), url(../fonts/ProximaNova-Reg-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: ProximaNovaLight;
    src: url(ProximaNova-Light-webfont.eot);
    src: url(ProximaNova-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Light-webfont.woff) format('woff'), url(../fonts/ProximaNova-Light-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Light-webfont.svg#ProximaNovaLtLight) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: ProximaNovaThin;
    src: url(ProximaNova-Thin-webfont.eot);
    src: url(ProximaNova-Thin-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Thin-webfont.woff) format('woff'), url(../fonts/ProximaNova-Thin-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThThin) format('svg');
    font-weight: 400;
    font-style: normal
}



body,html{
    font-family: ProximaNovaLight, ProximaNovaRegular, Arial, sans-serif;
    color: #222;
}

body{
    padding-top: 55px;
    background: #ededed;
}

h3, h4 {
    font-family: ProximaNovaLight,ProximaNovaRegular,Arial,sans-serif;
}

.content-wrapper{
    width: 100%;
}

.block-header > h2{
    font-size: 24px;
    text-transform: none;
    margin: 20px;
    color: #222;
}

.block-header{
    border-bottom: 1px solid #e4e4e4;
}



.card-top{
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.collection-divider{
    border-bottom: 1px solid #e4e4e4;
}

.col-border-right{
    border-right: 1px solid  rgba(0, 0, 0, 0.15);
}

/*modal css overide*/

.modal-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*z-index: 99999!important;*/
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 1;
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    -ms-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
    background: #fff;
    margin: 0;

}

.modal.fade .modal-dialog{
    -webkit-transition-property: transform;
    -webkit-transition-duration:0 ;
    transition-property: transform;
    transition-duration:0 ;
}

.modal.fade {
   transition: none;
}

.modal-dialog .close:not(.fileinput-exists) {
    cursor: pointer;
    fill: #000;
    position: absolute;
    right: 1.5rem;
    -webkit-transition: fill .2s;
    transition: fill .2s;
    display: block;
    font-size: 45px;
    font-weight: 300;
    margin-top: -33px;
}

.modal-dialog .close:hover{
    color : #FF4500;
}

.modal .modal-content{
    border-radius: 0;
    box-shadow : none;
}

.modal-footer{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.modal .modal-body{
    width: 75%;
    margin: 0 auto;
    padding: 0 0 10px;
}

.modal .modal-body h2{
    font-size: 2em;
    font-weight: 300;
}

.modal.in .modal-dialog{
    opacity: 0.91;
    overflow-y: auto;
}

@media screen and (max-width: 992px) {
    .modal .modal-body{
        width: 600px;
    }

    .modal-footer{
        width: 600px;
    }
}


@media screen and (max-width: 767px){
    .modal-dialog {
        width: 100%;
        margin: 0;
    }

    .modal .modal-body{
        width: 90%;
    }

    .modal-footer{
        width: 90%;
    }
}

@media screen and (max-width: 420px){
    .modal .modal-body {
        width: 95%;
    }

    .modal .modal-body h2 {
        font-size: 1.5em;
        font-weight: 300;
    }

    .modal-dialog .close {
        font-size: 25px;
        font-weight: 300;
        right: 5px;
        cursor: pointer;
    }

    .modal .modal-header {
        padding: 0;
        padding-top: 10px;
    }

    .expiration-date-label{
        display: none;
    }
}


.bgm-transparent{
  background-color: transparent !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-no-drop {
    cursor: no-drop !important;
}

.cursor-no-drop-alt {
    cursor: no-drop !important;
}

.pointer-events-off {
    pointer-events: none !important;
}

.bgm-transparent{
  background-color: transparent !important;
}

.capitalize-per-word {
  text-transform: capitalize !important;
}

.w-break {
  word-break: break-all;
}

.w-wrap {
  word-wrap: break-word;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none;
}

.top-5 {
    top: 5px !important;
}

.box-shadow-off {
    box-shadow: 0 0px 0px transparent !important;
}
.block-header {
    padding: 0px !important;
}


.tab-nav-alt {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tab-nav-alt > li > a {
  display: block;
  color: #7a7a7a;
  text-transform: uppercase;
  position: relative;
  /*font-weight: 500;*/
}
@media (min-width: 768px) {
  .tab-nav-alt > li > a {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .tab-nav-alt > li > a {
    padding: 15px 8px;
  }
}

.tab-nav-alt:not(.tn-vertical) {
  white-space: nowrap;
  overflow: visible;
  box-shadow: inset 0 -2px 0 0 #eeeeee;
}
.tab-nav-alt:not(.tn-vertical) > li {
  display: inline-block;
  vertical-align: top;
}
.tab-nav-alt:not(.tn-vertical) > li > a {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.tab-nav-alt:not(.tn-vertical) > li > a:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.tab-nav-alt:not(.tn-vertical) > li.active > a {
  color: #000;
}
.tab-nav-alt:not(.tn-vertical) > li.active > a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.tab-nav-alt:not(.tn-vertical).tab-nav-right {
  text-align: right;
}
.tab-nav-alt:not(.tn-vertical).tn-justified > li {
  display: table-cell;
  width: 1%;
  text-align: center;
}
.tab-nav-alt:not(.tn-vertical).tn-icon > li .zmdi {
  font-size: 22px;
  line-height: 100%;
  min-height: 25px;
}
.tab-nav-alt:not(.tn-vertical):not([data-tab-color]) > li > a:after {
  background: #16a085;
}
.tab-nav-alt:not(.tn-vertical)[data-tab-color="green"] > li > a:after {
  background: #4caf50;
}
.tab-nav-alt:not(.tn-vertical)[data-tab-color="red"] > li > a:after {
  background: #f44336;
}
.tab-nav-alt:not(.tn-vertical)[data-tab-color="teal"] > li > a:after {
  background: #009688;
}
.tab-nav-alt:not(.tn-vertical)[data-tab-color="amber"] > li > a:after {
  background: #ffc107;
}
.tab-nav-alt:not(.tn-vertical)[data-tab-color="black"] > li > a:after {
  background: #000000;
}
.tab-nav-alt:not(.tn-vertical)[data-tab-color="cyan"] > li > a:after {
  background: #00bcd4;
}
.table thead span{
    font-weight: 700;
}
.fg-line.fg-toggle-off:after {
    width: 0%;
}

@media (max-width: 767px) {
  .show-xs {
    display: block !important;
  }
}

.multiple-mobile {
    border-radius: 3px;
    margin: 4px 4px 0 0;
    background: #eaeaea;
    border-color: #eaeaea;
    padding: 5px 23px 5px 8px;
}

.multiple-mobile-close {
    position: absolute;
    top: 2px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 1px;
}
.multiple-mobile-close::before{
    display: inline-block;
    font-family: 'Material-Design-Iconic-Font';
    content: "\f135";
    position: relative;
    top: 1px;
    color: #9C9C9C;
    z-index: 9999;
    font-size: 12px;
}
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.w-10 {
    width: 10% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.w-90 {
    width: 90% !important;
}

.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}

video {
    width: 100%;
}

canvas {
    width: 100%;
}

.m-t-60 {
    margin-top: 60px;
}


/*Client Custom Style*/

#client-main {
  padding:0;
  margin:0;
  height: 90vh;
  position: relative;
  overflow: hidden !important;
}

#client-main .header {
  height: 100px;
  margin-top: -15px;
}

/*#client-main {
  min-height: 700px;
  position: relative;
}*/

#client-main .content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin-bottom: -5px
}

#client-main .card2 {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin-bottom: -5px
}

#client-main .pm-overview {
  height: 900px !important;
}

/*#client-main .select {
  position: relative;
  z-index: -1;
}*/

@media (min-width: 1200px) {
  #client-main .pm-overview {
    width: 230px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #client-main .pm-overview {
    width: 180px;
  }
}

@media (min-width: 768px) {
  #client-main .pm-overview {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #f8f8f8;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 767px) {
  #client-main .pm-overview {
    width: 100%;
    background: #333;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #client-main .padding-left {
    padding-left: 230px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #client-main .padding-left {
    padding-left: 180px;
  }
}

@media (max-width: 767px) {
  #client-main .pm-body {
    padding-left: 0;
  }
}

#client-main .pmo-pic {
  position: relative;
  margin: 10px;
}

@media (min-width: 768px) {
  #client-main .pmo-pic img {
    width: 100%;
    border-radius: 2px 2px 0 0;
  }
}

@media (max-width: 767px) {
  #client-main .pmo-pic img {
    width: 180px;
    display: inline-block;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }
}

#client-main .pmo-pic .pmo-stat {
  border-radius: 0 0 2px 2px;
  color: #fff;
  text-align: center;
  padding: 30px 5px 0;
}

@media (min-width: 768px) {
  #client-main .pmo-pic .pmo-stat {
    background: #ffc107;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
    #client-main .webcam-live {
        margin-bottom: -42px;
    }

    #client-main canvas {
        margin-top: 38px;
        margin-bottom: -5px;
    }

    #client-main .pmo-pic .pmop-edit {
        width: 159px;
        font-size: 12px;
        text-transform: capitalize;
    }
}

@media (min-width: 1200px) {
    #client-main .webcam-live {
        margin-top: 19px;
        margin-bottom: -23px;
    }

    #client-main canvas {
        margin-top: 38px;
        margin-bottom: -5px;
    }

    #client-main .pmo-pic .pmop-edit {
        width: 209px;
        font-size: 12px;
        text-transform: capitalize;
    }
}

#client-main .pmo-pic .pmop-edit {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.38);
    text-align: center;
    padding: 10px 10px 11px;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 250ms;
    margin-bottom: 20px;
    transition-duration: 250ms;
}

#client-main .pmo-pic .pmop-edit:hover {
  background: rgba(0, 0, 0, 0.8);
}

.m-b-50 {
  margin-bottom: 50px;
}


/*@media (min-width: 768px) {
  #client-main .pmo-pic .pmop-edit {
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  #client-main .pmo-pic .pmop-edit i {
    margin-right: 4px;
  }
}

#client-main .pmo-pic:hover .pmop-edit {
  opacity: 1;
  filter: alpha(opacity=100);
}*/

#client-main .pmo-pic .pmop-message {
  position: absolute;
  bottom: 27px;
  left: 50%;
  margin-left: -25px;
}

#client-main .pmo-pic .pmop-message .dropdown-menu {
  padding: 5px 0 55px;
  left: -90px;
  width: 228px;
  height: 150px;
  top: -74px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

#client-main .pmo-pic .pmop-message .dropdown-menu textarea {
  width: 100%;
  height: 95px;
  border: 0;
  resize: none;
  padding: 10px 19px;
}

#client-main .pmo-pic .pmop-message .dropdown-menu button {
  bottom: 5px;
  left: 88px;
}

#client-main .pmb-block {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  #client-main .pmb-block {
    padding: 40px 42px 0;
  }
}

@media (max-width: 1199px) {
  #client-main .pmb-block {
    padding: 30px 20px 0;
  }
}

#client-main .pmb-block:last-child {
  margin-bottom: 20px;
}

#client-main .pmb-block .pmbb-header {
  margin-bottom: 25px;
  position: relative;
}

#client-main .pmb-block .pmbb-header .actions {
  position: absolute;
  top: -2px;
  right: 0;
}

#client-main .pmb-block .pmbb-header h2 {
  margin: 0;
  font-weight: 100;
  font-size: 20px;
}

#client-main .pmb-block .pmbb-edit {
  position: relative;
  z-index: 1;
}

#client-main .pmo-block {
  padding: 25px;
}

#client-main .pmo-block > h2 {
  font-size: 16px;
  margin: 0 0 15px;
}

#client-main .pmo-items .pmob-body {
  padding: 0 10px;
}

#client-main .pmo-items a {
  display: block;
  padding: 4px;
}

#client-main .pmo-items a img {
  width: 100%;
}

#client-main .search input[type="text"] {
    width: 100%;
    border-bottom: 1px solid #afc8cf;
    color: #969696;
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0 0 5px 1px #969696;
    padding: 6px 0 6px 25px;
}

#client-main .search select {
    width: 100%;
    border-bottom: 1px solid #afc8cf;
    color: #969696;
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0 0 5px 1px #969696;
    padding: 6px 0 6px 25px;
}

#client-main .search input[type="text"]::-moz-placeholder {
  color: #afc8cf;
  opacity: 1;
}

#client-main .search input[type="text"]:-ms-input-placeholder {
  color:  #afc8cf;
}

#client-main .search input[type="text"]::-webkit-input-placeholder {
  color:  #afc8cf;
}

#client-main .search:after {
  background: #7ea4b3;
}

#client-main .search .fg-line {
  max-width: 500px;
  position: relative;
  background: #7ea4b3;
}

#client-main .search .fg-line:after {
  background: #7ea4b3;
}

#client-main .search:before {
  background: gray;
  left: 0;
  bottom: 1px;
  color: #7ea4b3;
  font-size: 20px;
}

#client-main .search .fg-line:before {
  content: '\f1c3';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 0;
  bottom: 1px;
  padding-bottom: 4px;
  color:  #afc8cf;
  font-size: 18px;
}

#client-main .fg-line .form-control:disabled {
  cursor: text;
  color: black;
  pointer-events: none;
}

.client-m .fg-line .form-control:disabled {
  pointer-events: none;
  cursor: text;
  color: black;
}
/*.client-m .chosen-container div b {
    background-image: none;
    background-position: right 12px;
    opacity: .10 !important;
    color: black !important;
}*/

.client-m .fg-line .chosen-disabled {
    opacity: 1 !important;
    color: black !important;
}

.client-m .chosen-container div b {
    background-image: none !important;
    background-position: right 12px !important;
}

#client-main img:before {
  content: "Image";
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

/*#client-main .ng-table-pager {
  display: none;
}*/

/* Custom Aler style */
.crm-dialog{
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    z-index:1051;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
    tansition: opacity 0.15s linear 0s;
    transform:translateZ(0px);
    overlay-y: auto;
    overflow: auto;
}
.crm-dialog-container{
    margin: 70px auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    transition: opacity 0.3s linear 0s, transform 0.3s ease-out 0s;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
    background-position: center center;
    max-width:calc(100%-20px);
    border-radius: 3px;
    transform: translateY(0px);
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.crm-dialog-buttons{
    margin: 2px -10px -10px;
    padding: 5px;
    border-top: 1px solid #E5E5E5;
    background: #E6EAEF none repeat scroll 0% 0%;
    border-radius: 0px 0px 4px 4px;
}
.crm-lightbox .btn-link,.btn-link{
    color: #009688;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#loading-bar-spinner {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0;
    left:0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0% !important;
    tansition: opacity 0.15s linear 0s !important;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3) !important;
    display: inline-flex !important;
    cursor: no-drop !important;
}

#loading-bar-spinner .spinner-icon {
    display: none !important;
}

.text-input-modal-pdf {
    padding: 5px;
    border: solid 1px #dcdcdc;
    width: 50px;
    height: 31px;
    transition: box-shadow 0.3s, border 0.3s;
}
.text-input-modal-pdf:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

/* Table Custom Scrollbar */
.cscroll::-webkit-scrollbar {
    width: 10px;
}

.cscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(119,136,153,0.5);
}

.cscroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px rgba(119,136,153,0.5);
}

.disable {
  pointer-events: none;
}

.ng-table.hide-pager + div .ng-table-pager {
    display: none!important;
}

#client-main .ng-hide {
  display: none !important;
}

/* Scrolling tabs */

.scrtabs-tab-container * {
  box-sizing: border-box;
  }

.scrtabs-tab-container {
  height: 42px; }

.scrtabs-tab-container .tab-content {
  clear: left; }

.scrtabs-tab-wrapper-container.force-height {
  height: 42px;
}

.scrtabs-tabs-fixed-container {
  float: left;
  height: 42px;
  overflow: hidden;
  width: 100vh;
}

.scrtabs-tabs-movable-container {
  position: relative;
}

.scrtabs-tabs-movable-container .tab-content {
  display: none; }

.scrtabs-tab-scroll-arrow:hover {
    color: #6699f6;
  }

.scrtabs-tab-scroll-arrow--is-on-edge {
  pointer-events: none;
  opacity: .5; }

.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: nowrap; }

.scrtabs-tab-content-outside-movable-container {
  clear: left; }

.scrtabs-tab-content-outside-movable-container .nav-tabs {
  display: none;
}

.scrtabs-js-tab-scroll-arrow-right {
  border-top: none;
  color: #428bca;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 14px;
  height: 42px;
  padding-top: 13px;
  width: 40px;
  margin-right: -15px;
}

.scrtabs-js-tab-scroll-arrow-left {
  border-top: none;
  color: #428bca;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 14px;
  height: 42px;
  padding-top: 13px;
  width: 40px;
  margin-right: -10px;
}

.nav-tabs {
  border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}
.nav-tabs > li > a {
  border: none;
  color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #1abc9c !important;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
  font-weight: 700;
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%; color: #fff;
}

.bgm-l-green {
    background-color: #1abc9c !important;
}

.c-l-green {
    color: #1abc9c !important;
}

.badge-alt {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #34495e;
  border-radius: 2px;
}
/* Scrolling tabs ends */

.sub-menu ul > li:last-child > a {
    padding-bottom: 8px !important;
}
.sub-menu ul > li:first-child > a {
    padding-top: 8px !important;
}
.navbar-nav .open > a,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover{
    background: #1abc9c !important;
}


/*
    MODAL HEADER COLOR
    Ehddver
*/
.modal-header-background{
  background: #34495e !important;
}

.modal-close{
  color: #FFF !important;
}

.text-white{
  color: #FFF !important;
}

.growl-animated.alert-warning{
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
    box-shadow: none;
}

.fileinput .close {
  top: 0 !important;
}
.ng-table-pager{
    min-height: auto !important;
    background: none !important;
}
.ng-table-counts{
    margin-top: 5px !important;
}
.fileinput .close{
    top: 0 !important;
    width: 20px !important;
    height: 20px !important;
    line-height: 19px !important;
    text-align: center;
    vertical-align: middle;
}