<header class="navbar navbar-fixed-top navbar-vl" ng-class="{'header-expanded': toggled, 'header-collapsed': !toggled}">
    <div class="container z-depth-1-bottom">
        <div class="row col-sm-12 header-design">
            <div class="col-sm-6">
                <div class="header-logo">
                    <div class="header-logo-container">
                        <img class="mCS_img_loaded" src="static/img/icons/message.png" alt=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input id="header-sbox" class="form-control input-sm" placeholder="Input Small" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
